<div id="preload">

  <!-- Room with nav-buttons -->
  <img class="logo" src="assets/LOGO.png">
  <img class="room1" src="assets/ROOM1.png">
  <img class="room2" src="assets/ROOM2.png">
  <img class="room-background" src="assets/UNCONVENTIONAL_CONVENTION_merged.png">
  <img class="supervisor-bell-button" src="assets/supervisor-bell-button.png">
  <img class="supervisor-flag" src="assets/supervisor-flag.png">
  <img class="go-gallery" src="assets/gallery_button.png">
  <img class="gallery-flag" src="assets/gallery_flag.png">
  <img class="about_us_door_button" src="assets/about-us-button.png">
  <img class="about_us_flag" src="assets/about_us_banner.png">
  <img class="go-stuff-behind" src="assets/go_stuff_button.png">
  <img class="stuff-behind-flag" src="assets/stuff-flag.png">
  <img class="whats-next-button" src="assets/whats-next-button.png">
  <img class="whats-next-flag" src="assets/whats-next-flag.png">

  <!-- about-us section -->
  <div class="about-us-text">
    <h1>ABOUT US</h1>
    <p class="about-us-paragraph">___________________________________________________________________________________________________ <br><br><br>
      <%= @content.about_us_para_one %> <br><br>
      <%= @content.about_us_para_two %> <br><br><br><br>
      <%= @content.about_us_para_three %> <br><br>
      <%= @content.about_us_para_four %> <br><br>
    </p>
  </div>
  <img class="about-us-image" src="assets/2.png"> 

  <!-- gallery section -->
  <img class="floating-pictures-one" src="assets/Group_1.png">
  <img class="floating-pictures-two" src="assets/Group_21.png">
  <img class="floating-pictures-three" src="assets/Group_3.png">
  <div class="gallery">
    <h1>GALLERY</h1>
    <p class="gallery-divide">________________________________________________ </p>

  </div>
  
  <!-- cave/what's next section -->
  <img class="cave1" src="assets/CAVE1.png">
  <img class="cave2" src="assets/CAVE_2.png">
  <img class="cave-background" src="assets/Rectangle_56.png">
  <img class="water" src="assets/WATER_1.png">
  <img class="clouds" src="assets/CLOUDS.png">
  <img class="fish" src="assets/Fish.png">
  <div class="event-information">
    <h1>WHAT'S NEXT</h1>
    <p class="event-info-divide">________________________________________________ </p>
  </div>

 <!-- leave you stuff section -->
  <div class="leave-your-stuff-form">
    <h1>LEAVE YOUR STUFF BEHIND</h1>
    <p class="leave-stuff-divide">_________________________________________________________________________________ </p>
  </div> 
    <form action="/mailing_lists" class="new_mailing_list" id="new_mailing_list_form" method="post">
    <h2>ADD YOURSELF TO OUR MAILING LIST</h2>
    <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />
      <label for="first_name">First Name:  </label>
      <input id="first_name_input" name="mailing_list[first_name]" type="text" />

      <label for="last_name">Last Name:  </label>
     <input id="last_name_input" name="mailing_list[last_name]" type="text" />
      <br>
      <br>
      <label for="email_address">Email Address:  </label>
      <input id="email_address_input" name="mailing_list[email_address]" type="text" />
      <input name="commit" type="submit" value="SUBMIT"
      id="submit-mailing-list" />
      <br>
      <br>
      <p>---- OR ----</p>
    </form>

    <form action="/comments" class="new_comment" id="new_comment_form" method="post">
      <h2>POST A MEMORY, POST AN IDEA!</h2>
      <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />

      <label for="guestname">Your Full Name</label>:
      <br>
      <input id="guestname_input" name="comment[guestname]" type="text" />
      <br>
      <br>

      <label for="Content">Leave Your Message Here </label>:
      <br>
      <textarea id="content_input" name="comment[content]" type="text" /></textarea>
      <br>
      <input name="commit" type="submit" value="SUBMIT"
      id="submit-comment" />
    </form>
  <div id="comments_display">
    
  </div>
  <img class="red-shape" src="assets/GROUP_2.png">
  <img class="leave_your_stuff" src="assets/GROUP1.png">

  <!-- call the supervisor section -->
  <div class="supervisor-heading">
    <h1>CALL THE SUPERVISOR</h1>
    <p class="supervisor-divide">_________________________________________________________________________________ </p>
  </div>

  <img class="supervisor-background" src="assets/Rectangle_57.png">

  <img class="paulina-supervisor"src="<%= @organisers.find(5).headshot%>">

  <div class="organiser-content-paulina">
    <h1 class="organiser-title"><%= @organisers.find(5).title%></h1>
    <p class="organiser-details"><%= @organisers.find(5).email%></p>
    <p class="organiser-details"><%= @organisers.find(5).twitter_handle%></p>
    <p class="organiser-details"><%= @organisers.find(5).personal_site%></p>
    <p class="organiser-description"><%= @organisers.find(5).description%></p>
    <textarea readonly class="organiser-articles"><%= @organisers.find(5).article_links%></textarea>
  </div>

  <img class="annik-supervisor" src="<%= @organisers.find(6).headshot %>">

  <div class="organiser-content-annik">
    <h1 class="organiser-title"><%= @organisers.find(6).title%></h1>
    <p class="organiser-details"><%= @organisers.find(6).email%></p>
    <p class="organiser-details"><%= @organisers.find(6).twitter_handle%></p>
    <p class="organiser-details"><%= @organisers.find(6).personal_site%></p>
    <p class="organiser-description"><%= @organisers.find(6).description%></p>
    <textarea readonly class="organiser-articles"><%= @organisers.find(6).article_links%></textarea>
  </div>

</div>

