<div id="preload">

  <!-- Room with nav-buttons -->
  <img class="logo" src="assets/LOGO.png">
  <img class="room1" src="assets/ROOM1.png">
  <img class="room2" src="assets/ROOM2.png">
  <img class="room-background" src="assets/UNCONVENTIONAL_CONVENTION_merged.png">
  <img class="supervisor-bell-button" src="assets/supervisor-bell-button.png">
  <img class="supervisor-flag" src="assets/supervisor-flag.png">
  <img class="go-gallery" src="assets/gallery_button.png">
  <img class="gallery-flag" src="assets/gallery_flag.png">
  <img class="about_us_door_button" src="assets/about-us-button.png">
  <img class="about_us_flag" src="assets/about_us_banner.png">
  <img class="go-stuff-behind" src="assets/go_stuff_button.png">
  <img class="stuff-behind-flag" src="assets/stuff-flag.png">
  <img class="whats-next-button" src="assets/whats-next-button.png">
  <img class="whats-next-flag" src="assets/whats-next-flag.png">

  <!-- about-us section -->
  <div class="about-us-text">
    <h1>ABOUT US</h1>
    <p class="about-us-paragraph">
    ___________________________________________________________________________________________________ <br><br><br><br>
      <%= @content.about_us_para_one %> <br><br>
      <%= @content.about_us_para_two %> <br><br><br><br><br>
      <%= @content.about_us_para_three %> <br><br>
      <%= @content.about_us_para_four %> <br><br>
    </p>
  </div>
  <img class="about-us-image" src="assets/2.png"> 

  <!-- gallery section -->
  <img class="floating-pictures-one" src="assets/Group_1.png">
  <img class="floating-pictures-two" src="assets/Group_21.png">
  <img class="floating-pictures-three" src="assets/Group_3.png">
  <div class="gallery">
    <h1>GALLERY</h1>
    <p class="gallery-divide">  ___________________________________________________________________________________________________ </p>

  </div>
  
  <!-- cave section -->
  <img class="cave1" src="assets/CAVE1.png">
  <img class="cave2" src="assets/CAVE_2.png">
  <img class="cave-background" src="Rectangle_56.png">
  <img class="water" src="assets/WATER_1.png">


  <!-- leave you stuff section -->
  <img class="leave_your_stuff" src="assets/GROUP1.png">

  <!-- call supervisor section -->
  <img class="rectangle-call-supervisor" src="assets/Rectangle_57.png">
  
  <p class="footnote-text"> <%= @content.footnote %>
  </p>

</div> 



<form action="/comments" class="new_comment" id="new_comment" method="post">

    <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />

  <label for="guestname">Your name</label>:
  <input id="guestname_input" name="comment[guestname]" type="text" /><br />

  <label for="guestemail">Your email (this will not be published</label>:
  <input id="guestemail_input" name="comment[guestemail]" type="text" /><br />

  <label for="Content">Leave your message here </label>:
  <input id="content_input" name="comment[content]" type="text" /><br />

  <input name="commit" type="submit" value="Submit comment" />
</form>

<div id="comments_display">
  
</div>

