<div id="preload">

  <!-- Room with nav-buttons -->
  <img class="logo" src="assets/LOGO.png">
  <img class="room1" src="assets/ROOM1.png">
  <img class="room2" src="assets/ROOM2.png">
  <img class="room-background" src="assets/UNCONVENTIONAL_CONVENTION_merged.png">
  <img class="supervisor-bell-button" src="assets/supervisor-bell-button.png">
  <img class="supervisor-flag" src="assets/supervisor-flag.png">
  <div class="invisible-button-supervisor"></div>
  <div class="flag-cover"></div>
  <img class="go-gallery" src="assets/gallery_button.png">
  <img class="gallery-flag" src="assets/gallery_flag.png">
  <div class="invisible-button-gallery"></div>
  <img class="about_us_door_button" src="assets/about-us-button.png">
  <img class="about_us_flag" src="assets/about_us_banner.png">
  <div class="invisible-button-about"></div>
  <img class="go-stuff-behind" src="assets/go_stuff_button.png">
  <img class="stuff-behind-flag" src="assets/stuff-flag.png">
  <div class="invisible-button-stuff"></div>
  <img class="whats-next-button" src="assets/whats-next-button.png">
  <img class="whats-next-flag" src="assets/whats-next-flag.png">
  <div class="invisible-button-next"></div>

  <!-- about-us section -->
  <div class="about-us-text">
    <h1>ABOUT US</h1>
    <p class="about-us-paragraph">___________________________________________________________________________________________________ <br><br>
      <%= @content.about_us_para_one %> <br><br>
      <%= @content.about_us_para_two %> <br><br><br><br>
      <%= @content.about_us_para_three %> <br><br>
      <%= @content.about_us_para_four %> <br><br>
    </p>
  </div>
  <img class="about-us-image" src="assets/2.png"> 

  <!-- gallery section -->
  <img class="floating-pictures-one" src="assets/Group_1.png">
  <img class="floating-pictures-two" src="assets/Group_21.png">
  <img class="floating-pictures-three" src="assets/Group_3.png">
  <div class="gallery">
    <h1>GALLERY</h1>
    <p class="gallery-divide">________________________________________________ </p>

    
    <div class="scroll">
      <div class="image-block">
        <% @gallery_images.each do |image|%>
            <img class="gallery-image" src="<%= image.asset %>">
          <%end%>
      </div>
    </div>
  
  </div>



  
  <!-- cave/what's next section -->
  <img class="cave1" src="assets/CAVE1.png">
  <img class="cave2" src="assets/CAVE_2.png">
  <img class="cave-background" src="assets/Rectangle_56.png">
  <img class="water" src="assets/WATER_1.png">
  <img class="clouds" src="assets/CLOUDS.png">
  <img class="seabed" src="assets/seabed.png">
  <img class="fish" src="assets/Fish.png">
  <img class="fish-small" src="assets/Fish.png">
  <div class="event-information">
    <h1>WHAT'S NEXT</h1>
    <p class="event-info-divide">________________________________________________ </p>
    <div class="eventbrite-header"><h2>Ticket Information</h2></div>
    <div class="eventbrite-widget">
      <iframe src="<%= @content.event_url %>" frameborder="0" height="256" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="no" allowtransparency="true"></iframe>
    </div>

  </div>

 <!-- leave you stuff section -->
  <div class="leave-your-stuff-form">
    <h1>LEAVE YOUR STUFF BEHIND</h1>
    <p class="leave-stuff-divide">_________________________________________________________________________________ </p>
  </div> 
    <form action="/mailing_lists" class="new_mailing_list" id="new_mailing_list_form" method="post">
    <p class="or"> ---- OR ---- </p>
    <br>
    <h2>SIGN UP FOR FUTURE EVENT UPDATES</h2>
    <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />
      <label for="first_name">First Name:  </label>
      <input id="first_name_input" name="mailing_list[first_name]" type="text" />
      <br>
      <br>
      <label for="last_name">Last Name:  </label>
     <input id="last_name_input" name="mailing_list[last_name]" type="text" />
      <br>
      <br>
      <label for="email_address">Email:  </label>
      <input id="email_address_input" name="mailing_list[email_address]" type="text" />
      <br>
      <br>
      <input name="commit" type="submit" value="SUBMIT"
      id="submit-mailing-list" />
      
    </form>

    <form action="/comments" class="new_comment" id="new_comment_form" method="post">
      <h2>POST A MEMORY, POST AN IDEA!</h2>
      <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />
      <div class="comment-name-section">
        <label for="guestname">Your Full Name</label>:
        <br>
        <input id="guestname_input" name="comment[guestname]" type="text" />
      </div>
      <br>
      <div class="comment-email-section">
        <label for="guestemail">Your Email <br>(Will not be published)</label>:
        <br>
        <input id="guestemail_input" name="comment[guestemail]" type="text" />
      </div>
      
      <div class="comment-content-section">
        <label for="Content">Leave Your Message Here </label>:
        <br>
        <textarea id="content_input" name="comment[content]" type="text" /></textarea>
      </div>
      <br>
      <input name="commit" type="submit" value="SUBMIT"
      id="submit-comment" />
    </form>
  <div class="comments_display">
    <div class="list-of-comments"></div>
  </div> 
  <img class="red-shape" src="assets/GROUP_2.png">
  <img class="leave_your_stuff" src="assets/GROUP1.png">

  <!-- call the supervisor section -->
  <div class="supervisor-heading">
    <h1>CALL THE SUPERVISOR</h1>
    <p class="supervisor-divide">_________________________________________________________________________________ </p>
  </div>

  <img class="supervisor-background" src="assets/Rectangle_57.png">

  <img class="paulina-supervisor"src="<%= @organisers.find(5).headshot%>">

  <div class="organiser-content-paulina">
    <h1 class="organiser-title"><%= @organisers.find(5).title%></h1>
    <p class="organiser-details"><%= @organisers.find(5).email%></p>
    <p class="organiser-details"><%= @organisers.find(5).twitter_handle%></p>
    <p class="organiser-details"><%= @organisers.find(5).personal_site%></p>
    <p class="organiser-description"><%= @organisers.find(5).description%></p>
    <p class="articles-title">READ POW'S LATEST ARTICLES HERE:</p>
    <a class="organiser-articles" href="<%= @organisers.find(5).article_links%>"><%= @organisers.find(5).article_links%></a>
    <a class="organiser-articles" href="<%= @organisers.find(5).article_link_two%>"><%= @organisers.find(5).article_link_two%></a>
    <a class="organiser-articles" href="<%= @organisers.find(5).article_link_three%>"><%= @organisers.find(5).article_link_three%></a>
  </div>

  <img class="annik-supervisor" src="<%= @organisers.find(6).headshot %>">

  <div class="organiser-content-annik">
    <h1 class="organiser-title"><%= @organisers.find(6).title%></h1>
    <p class="organiser-details"><%= @organisers.find(6).email%></p>
    <p class="organiser-details"><%= @organisers.find(6).twitter_handle%></p>
    <p class="organiser-details"><%= @organisers.find(6).personal_site%></p>
    <p class="organiser-description"><%= @organisers.find(6).description%></p>
    <p class="organiser-articles"><%= @organisers.find(6).article_links%></p>
  </div>
  <div class="box-extention"></div>

 <!--  footnote -->
 <div class="footnote">
   <p class="footnote-1"><%= @content.footnote %></p>
   <br>
   <p class="footnote-2">All Rights Reserved 
   &emsp;
   &emsp;
   &emsp;
   &emsp; 
   © 2015</p>
 </div>
 
</div>



